extends layout

block content
	h1= title

	div.T-gallery(
		ng-app="TGallery",
		ng-controller="GalleryCtrl"		
	)
		//----------------------------------------------------------------------
		//-- thumbs ------------------------------------------------------------
		div.sidebarRight.vslider(
			vslider,
			vslider-scroller="right"
		)
			ul.thumbs(
					vslider-content="mels"
				)
				li.thumb(
					ng-repeat="me in mels",
					ng-class="{'active': $index == mediaElementIndex}",
				)
					div.title {{me.title}}
					img(
						ng-src="{{me.thumbSrc}}"
						alt="{{me.title}}"
					)
					

		//----------------------------------------------------------------------
		//-- galleries ---------------------------------------------------------
		div.sidebarLeft.vslider(
			vslider,
			vslider-scroller="left"
		)

			ul.galleries
				li.gallery(
					ng-repeat="g in album.galleries",
					ng-class="{'active': $index == galleryIndex}"
					ng-click="showGallery($index)"
				)
					div.count
						span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
						//- ,&nbsp;
						//- span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
					div.title {{g.title}}
					//- img(
					//- 	img-loaded="onImgLoaded()",
					//- 	ng-src="{{g.path}}thumbs/{{g.elements[g.cover].thumb}}",
					//- 	alt="{{e.title}}")

		//----------------------------------------------------------------------
		//-- stage -------------------------------------------------------------
		div.stage
			img(
				img-loaded="onStageImgLoaded(mediaElement.file +' loaded')",
				ng-src="{{gallery.path}}{{mediaElement.file}}", 
				alt="{{mediaElement.title}}"
			)



	