extends layout

block content
	h1= title

	div.T-gallery(
		ng-app="TGallery",
		ng-controller="GalleryCtrl"		
	)
		//----------------------------------------------------------------------
		//-- thumbs ------------------------------------------------------------
		div.sidebarRight.vslider(
			vslider,
			vslider-scroller="right"

		)
			ul.thumbs(
				imgs-list,
				imgs-list-size="{{mediaElements.length}}",
				imgs-list-ready="contentReady(element)"
			)

				li.thumb(
					ng-repeat="me in mediaElements",
					ng-class="{'active': $index == mediaElementIndex}",
					ng-click="showMediaElement($index)"
				)
					div.title {{me.title}}
					img( 
						img-loaded="onImgLoaded()",
						ng-src="{{gallery.path}}thumbs/{{me.thumb}}", 
						alt="{{me.title}}"
					)

		//----------------------------------------------------------------------
		//-- galleries ---------------------------------------------------------
		div.sidebarLeft.vslider(
			vslider,
			vslider-scroller="left"
		)

			ul.galleries(
				imgs-list,
				imgs-list-size="{{album.galleries.length}}",
				imgs-list-ready="contentReady(element)"
			)
				li.gallery(
					ng-repeat="g in album.galleries",
					ng-class="{'active': $index == galleryIndex}"
					ng-click="showGallery($index)"
				)
					div.count
						span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
						//- ,&nbsp;
						//- span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
					div.title {{g.title}}
					img(
						img-loaded="onImgLoaded()",
						ng-src="{{g.path}}thumbs/{{g.elements[g.cover].thumb}}",
						alt="{{e.title}}")

		//----------------------------------------------------------------------
		//-- stage -------------------------------------------------------------
		div.stage
			img(
				img-loaded="onStageImgLoaded(mediaElement.file +' loaded')",
				ng-src="{{gallery.path}}{{mediaElement.file}}", 
				alt="{{mediaElement.title}}"
			)



	