div.gallery-cntr
	//----------------------------------------------------------------------
	//-- thumbs ------------------------------------------------------------
	div.sidebarRight.vslider(
		vslider="galleryIndex"
		vslider-scroller="right"
		ng-class="{'veil' : !control.thumbsShow}"
	)
		ul.thumbs
			li.thumb(
				ng-repeat="me in album.galleries[galleryIndex].elements"
				ng-class="{'active': $index == elementIndex}"
				ng-click="selectImage($index)"
				th-thumb="{{$index}}"
			)
				div.title {{me.title}}

	//----------------------------------------------------------------------
	//-- galleries ---------------------------------------------------------
	div.sidebarLeft.vslider(
		vslider="album"
		vslider-scroller="left"
		ng-class="{'veil' : !control.galleriesShow }"
	)

		ul.galleries
			li.gallery(
				ng-repeat="g in album.galleries"
				ng-class="{'active': $index == galleryIndex}"
				ng-click="selectGallery($index)"
				th-cover="{{$index}}"
			)
				div.count
					span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
					//- ,&nbsp;
					//- span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
				div.title {{g.title}}

	//----------------------------------------------------------------------
	//-- stage -------------------------------------------------------------
	div.stage(
		th-stage
	)
		//- img(
		//- 	th-media
		//- )
		//- ng-src="{{element}}"

div.control

	div.progress.progress-striped.active
		div.progress-bar.progress-bar-success(
			role="progressbar"
			th-slideshow-progress
		)

	div.btn-group
		button.btn.btn-default(
			type="button"
			ng-class="{'active': control.galleriesShow }"
			ng-click="control.galleriesShow = !control.galleriesShow"
		)
			span.glyphicon.glyphicon-book

		button.btn.btn-default(
			type="button"
			ng-click="prevImage()"
		)
			span.glyphicon.glyphicon-step-backward

		button.btn.btn-default(
			type="button"
			ng-click="slideshow = !slideshow"
		) 
			span.glyphicon(
				ng-class="{'glyphicon-play' : !slideshow, 'glyphicon-pause' : slideshow}"
			)

		button.btn.btn-default(
			type="button"
			ng-click="nextImage()"
		) 
			span.glyphicon.glyphicon-step-forward

		button.btn.btn-default(
			type="button"
			ng-class="{'active': control.thumbsShow }"
			ng-click="control.thumbsShow = !control.thumbsShow"
		)
			span.glyphicon.glyphicon-picture