div.gallery-cntr
	//----------------------------------------------------------------------
	//-- thumbs ------------------------------------------------------------
	div.sidebarRight.vslider(
		vslider="galleryIndex"
		vslider-scroller="right"
	)
		ul.thumbs
			li.thumb(
				ng-repeat="me in album.galleries[galleryIndex].elements"
				ng-class="{'active': $index == elementIndex}"
				ng-click="selectImage($index)"
				th-thumb="{{$index}}"
			)
				div.title {{me.title}}

	//----------------------------------------------------------------------
	//-- galleries ---------------------------------------------------------
	div.sidebarLeft.vslider(
		vslider="album"
		vslider-scroller="left"
	)

		ul.galleries
			li.gallery(
				ng-repeat="g in album.galleries"
				ng-class="{'active': $index == galleryIndex}"
				ng-click="selectGallery($index)"
				th-cover="{{$index}}"
			)
				div.count
					span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
					//- ,&nbsp;
					//- span.glyphicon.glyphicon-picture &nbsp;{{g.elements.length}}
				div.title {{g.title}}

	//----------------------------------------------------------------------
	//-- stage -------------------------------------------------------------
	div.stage
		img(
			ng-src="{{element}}"
		)